@import "./variables.scss";
.day-details-cont {
  background-color: #1d212a;
  height: 100vh;
  @include mobile {
    height: 100%;
  }
  .day-details {
    width: 1240px;
    margin: 0 auto;
  }
  padding: 25px;
  .day-details-grid {
    background-color: #2c3947;
    padding: 10px 0;
  }
  .time {
    color: grey;
    padding-bottom: 12px;
    background-color: #2c3947;
    padding-right: 29px;
  }
  .wi {
    color: #fb5e7a;
    padding-top: 20px;
  }
  .temp-day {
    color: #1e7f90;
    padding: 10px 0;
  }
  .weather-cond-day {
    color: #b8e2e8;
    text-transform: capitalize;
  }
}

//Line chart

.chart-cont {
  background-color: #1d212a;
  padding-top: 26px;
  width: 1240px;
  margin: 0 auto;
  .humidity-chart {
    height: 41vh;
    background-color: #2c3947;
    margin: 0 0 20px 0;
    // width: 1240px;
    // margin: 0 auto;
    h2 {
      text-align: center;
      color: #566574;
      font-size: 28px;
    }
  }
}
