@import "./variables.scss";
.day-details-cont{
    background-color: #1D212A;
    height: 71vh;
    @include mobile{
        height: 100%;
    }
    .day-details{
        width: 1240px;
        margin: 0 auto;
    }
    padding: 25px;
    .day-details-grid{
        background-color: #2C3947;
        padding: 10px 0;
    }
    .time{
        color: grey;
        padding-bottom: 12px;
        background-color: #2C3947;
        padding-right: 29px;
    }
    .wi{
        color: #FB5E7A;
        padding-top: 20px;
    }
    .temp-day{
        color: #1E7F90;
        padding: 10px 0;
    }
    .weather-cond-day{
        color: #B8E2E8;
        text-transform: capitalize;
    }
}

//Line chart

.humidity-chart-cont {   
    background-color: #1D212A;
    padding-top: 26px;
    .humidity-chart{
        height: 41vh;
        background-color: #2C3947;
        width: 1240px;
        margin: 0 auto;
        h2{
            text-align: center;
            color: #566574;
            font-size: 28px;
        }
    }
}