.search-wrapper {
    margin: 0 auto 36px;
    input{
        color: black;
        width: 100%;
        padding: 14px;
        
    }
    ul{
        position: absolute;
        background: black;
    }
    .clearable{
        background-image: url('../assets/icons8-close.svg');
        background-repeat: no-repeat;
        background-position: 98% center;
        background-size: 20px;
    }
}