.search-wrapper {
    width: 88%;
    margin: 0 auto 36px;
    input{
        color: black;
        width: 100%;
        padding: 14px;
    }
    ul{
        position: absolute;
        background: black;
        width: 88%;
    }
}