@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: #089075;
}
*{
    color: white;
}
.weather-wrapper{
    width: 1240px;
    margin: 0 auto;
    padding: 90px;
}

i::before{
    font-size: 50px;
}
.date{
    margin-bottom: 10px;
}

main{
    background-color: #21BD9D;
}