@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";

.weather-wrapper{
    background-color: #089075;
    height: 100vh;
}
*{
    color: white;
}

@include desktop{
    .weather-container{
        width: 1240px;
        margin: 0 auto;
    }
}


i::before{
    font-size: 50px;
}
.date{
    margin-bottom: 10px;
}

main{
    background-color: #21BD9D;
}