.main{
    padding: 10px 0
}
.weather-desc{
    text-transform: capitalize;
}

.weather-icon{
    margin: 6% ;
}

.heading h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.weather-container{
    box-shadow: 0 0 14px rgb(0 0 0 / 66%);

}